

  
      .displayCard {
        min-height: 40vh;
        min-width:25vw;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        margin:2vh;
      
        &__img-container {
          height: 20vh;
          width:15vw;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 1vh 1vh;
          grid-template-areas:
            "grid1 grid2"
            "grid1 grid3";
        }
      
        &__grid1 {
          grid-area: grid1;
          overflow: hidden;
          border-top-left-radius: 5vh;
          border-bottom-left-radius: 5vh;
          height:21vh;
          width:8vw;
      
        }
        &__grid2 {
          grid-area: grid2;
          overflow: hidden;
          border-top-right-radius: 5vh;
          width:6vw;
          height:10vh;


        }
        &__grid3 {
          grid-area: grid3;
          overflow: hidden;
          border-bottom-right-radius: 5vh;
          width:6vw;
          height:10vh;

        }
      
        &__img-1 {
          height: 100%;
          width: auto;
        }
        &__img-2 {
          height: 100%;
          width: auto;
        }
        &__img-3 {
          height: 100%;
          width: auto;
        }
        &__content-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__content-top {
            padding-top: 3vh;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__name {
            font-size: 1rem;

        }
        &__content-middle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: small;
        }
        &__cost {
        }
        &__location {
        }
        &__content-bottom {
            font-size: 0.7rem;
        }
        &__website {
        }
      }
