@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

$font-main:'Julius Sans One', sans-serif;



$color1: #182b38;
$color2: #4d3445;
$color3: #807877;
$color4: #adadb7;
$color5: #4d5258;
$colorw: #f7f7f7;
$colorb: #111111;

